.artist-page__wrap {
    background-color: #191919;
  
    width: calc(100vw - 180px);
    height: calc(100vh - 130px);
    overflow-y: scroll;
  
    position: absolute;
    left: 11.4rem;
    background: rgb(25, 25, 25);
    padding-bottom: 30px;
  }
  .artist__header {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: top;
  }
  
  .header__wrap--art {
    width: 100%;
    height: 25rem;
    background: rgb(24, 24, 24);
    background: linear-gradient(
      0deg,
      rgb(32, 32, 32) 15%,
      rgba(15, 15, 15, 0.527) 100%);
    position: absolute;
    top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
  }
  h1 {
    color: white;
  }
  
  #listeners {
    color: white;
    font-size: 11pt;
    margin-right: auto;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  
  .follow__btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px white solid;
    margin-left: 20px;
  }
  
  .artist__line {
    width: 90%;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    padding: 30px;
  }
  
  .artist__tracks {
    display: flex;
    flex-direction: column;
  
    margin-left: 40px;
    width: 50%;
  }

  #favbtn {
    color: white;
    border-radius: 5rem;
    height: 2.5rem;
    width: auto;
    margin-top: 1.8rem;
    margin-right: 1rem;
  }
  
  .titleMain {
    font-size: 5rem;
    margin-left: 2rem;
  }

  #playButton {
    border-radius: 5rem;
    height: 4rem;
    width: 4rem;
  }

  #followButton {
    height: 2.8rem;
    margin-top: 0.6rem;
    margin-left: 2rem;
  }

  .artistDiv {
    background-color: black;
  }

  .trackTitle {
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

