.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    background-color: black;
    max-height: 1000px;
    max-width: 230px;
    z-index: 1;
  }

  #sidebar-wrapper {
    min-height: 100vh !important;
    width: 80vw;
    margin-left: -1rem;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 0.800rem 1,25rem;
    font-size: 1rem;
  }
  
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #navText {
    color: rgba(255, 255, 255, 0.863) !important;
    font-size: smaller;
  }
  
  #sideMenu {
    overflow-y: scroll;
    max-height: 400px;
  }
  
  